.completed {
    display: none;
}

body {
    background-image: url(bg-main-desktop.png);
    background-repeat: no-repeat;
    font-family: Space Grotesk;
}

.main {
    display : flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    align-items: center;
}

.form-section {
    flex: 75%;
    padding: 150px
}

.card{
    flex: 25%;
    flex-direction: column;
    color: white;
}

.card-front, .card-back {
    background-image: url(bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left : 250px;
}

.number {
    margin-top: 35px;
    letter-spacing: 3px;
    font-size: 20px;
}

.help {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mister {
    margin-left: auto;
}

.card-back {
    background-image: url(bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 350px;

}

.code {
    padding-top: 45px;
    padding-left: 250px;
}

form {
  width: 300px;
}

label {
    color: hsl(278, 68%, 11%);
    font-weight: 500;
}

input {
    width: 100%;
    padding: 10px;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    margin-top: 10px;  
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);  
}

.helpe {
    display: flex;
    gap: 30px;
}

.date {
    width: 50px;
}

.conte {
    display: flex;
    gap: 10px;
}

.conf {
    color: white;
    background-color: hsl(278, 68%, 11%);
    padding: 10px;
    cursor: pointer;
}
